.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

:root {
  --font-family: 'Raleway', sans-serif;
  --main-color: #2196f3;
  --main-font-color: #212121;
  --font-on-dark-theme-color: #ffffff;
  --font-in-description-color: #757575;
  --background-color-dark: #2f303a;
  --background-color-light: #ffffff;
  --background-color-selection: #c8e1ff;
  --font-contact-footer-color: rgba(255, 255, 255, 0.6);
  --border-color-header: #ececec;
  --border-color-cards: #eeeeee;
  --box-shadow-color-first: rgba(0, 0, 0, 0.12);
  --box-shadow-color-second: rgba(0, 0, 0, 0.14);
  --box-shadow-color-third: rgba(0, 0, 0, 0.2);
  --background-color-team: #f5f4fa;
  --background-color-advantages-icons: #f5f4fa;
  --background-color-team: #f5f4fa;
  --fill-icons: #afb1b8;
  --modal-form-title-font: #212121;
  --newsletter-e-mail-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-font-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.address-information {
  font-style: normal;
}

.container {
  width: 1200px;
  padding: 0 15px;
  align-items: center;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 3000ms cubic-bezier(0.165, 0.84, 0.44, 1), visibility 3000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 3000ms cubic-bezier(0.165, 0.84, 0.44, 1), visibility 3000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn {
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  width: 200px;
  height: 50px;
  color: var(--font-on-dark-theme-color);
  background-color: var(--main-color);
  border-radius: 4px;
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn {
  padding: 10px 41px;
}

.hero__btn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.newsletter__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: var(--font-on-dark-theme-color);
  background-color: var(--main-color);
  cursor: pointer;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter__btn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.secondary-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
  margin-bottom: 50px;
}

.logo {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  text-decoration: none;
  letter-spacing: 0.03em;
  margin-right: 93px;
  color: var(--main-color);
}

.logo__accent-text {
  color: var(--main-color);
}

.logo--light-theme {
  color: var(--main-font-color);
}

.logo--dark-theme {
  color: var(--font-on-dark-theme-color);
}
/*# sourceMappingURL=main.css.map */