.clients {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clients__logo {
  display: flex;
  width: 170px;
  height: 92px;
  background-color: var(--background-color-light);
  fill: var(--fill-icons);
  border: 1px solid #afb1b8;
  border-radius: 10%;
  align-items: center;
  justify-content: center;
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon {
  width: 106px;
  height: 60px;
}

.clients__logo:hover,
.clients__logo:focus {
  fill: var(--main-color);
  border-color: var(--main-color);
}