.logo {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    text-decoration: none;
    letter-spacing: 0.03em;
    margin-right: 93px;
    color: var(--main-color);
}
.logo__accent-text {
    color: var(--main-color);
}
.logo--light-theme {
    color: var(--main-font-color);
}

.logo--dark-theme {
    color: var(--font-on-dark-theme-color);
}