$main-font: 'Raleway',
 sans-serif;
 $secondary-font: 'Raleway',
 sans-serif;

 $main-color: #2196f3;
 $main-font-color: #212121;
 $description-font-color: #757575;
 $background-dark-color: #2f303a;




// --font-family: 'Raleway',
// sans-serif;

// --main-color: #2196f3;
// --main-font-color: #212121;
// --font-on-dark-theme-color: #ffffff;
// --font-in-description-color: #757575;
// --background-color-dark: #2f303a;
// --background-color-light: #ffffff;
// --background-color-selection: #c8e1ff;
// --font-contact-footer-color: rgba(255, 255, 255, 0.6);
// --border-color-header: #ececec;
// --border-color-cards: #eeeeee;
// --box-shadow-color-first: rgba(0, 0, 0, 0.12);
// --box-shadow-color-second: rgba(0, 0, 0, 0.14);
// --box-shadow-color-third: rgba(0, 0, 0, 0.2);
// --background-color-team: #f5f4fa;
// --background-color-advantages-icons: #f5f4fa;
// --background-color-team: #f5f4fa;
// --fill-icons: #afb1b8;
// --modal-form-title-font: #212121;
// --newsletter-e-mail-color: rgba(255, 255, 255, 0.6);